<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/css/syntax.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>
    <main>
      <header class="header">
        <h1><a class="extra" href="/">blog posts</a></h1>
      </header>
      <article>
        {{ content }}
      </article>
    </main>
  </body>
  <script>
    // Open external links in a new tab.
    Array.prototype.slice.call(
      document.querySelectorAll('[href^="//"], [href*="://"]')
    ).forEach(function (link) {
      link.setAttribute('target', '_blank');
    });
  </script>
</html>
