extends layout

block vars
  - bodyclass = "archive"

block prepend title
  | #{ "Archive | "}

block content
  - var archives = _.chain(env.helpers.getArticles(contents)).groupBy(function (item) {
  -   return item.date.getFullYear()
  - }).value()
  - for (var archive in archives) {
  -  archives[archive] = _.groupBy(archives[archive], function(item) { return item.date.getMonth(); })
  - }
  - var month_names = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
  section.archive-section
    h2 Archive
    ul.archive-list
      - var yearsK = _.chain(archives).keys().reverse().value()
      - for (var year in yearsK)
        - months = archives[yearsK[year]]
        li
          h3.archive-year-heading=yearsK[year]
          ul.archive-month-list
            - var monthsK = _.chain(months).keys().reverse().value()
            - for (month in monthsK) {
              li
                h4.archive-month-heading=month_names[monthsK[month]]
                ul.archive-post-list
                  each item in months[monthsK[month]]
                    li
                      a(href=item.url)=item.title
            - }
